/* RESERVE THIS STYLE SHEET FOR ELEMENT POSITIONS AND ANIMATIONS*/

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

/* NAV */
nav {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

nav a {
    font-size: 9vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.sub-nav h2 {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 10vw;
    text-transform: uppercase;
    font-size: 2.5vw;
    background-color: white;
    z-index: 10;
}

/* MAIN SECTION */

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#main ol {
    display: grid;
    position: relative;
    justify-content: center;
    top: 200px;
}

#main li {
    list-style: none;
    text-align: center;
}

#main h1 { 
    position: relative;
    font-size: 15vw;
    line-height: 1em;
    user-select: none;
    color: black;
}

/* PADDING FROM TOP */

.padding {
    height: 45vw;
}

@media screen and (max-width: 1000px) {
    #main ol {
        top: calc(60% - 12vw);
        transform: translateY(-50%);
    }

    .padding {
        height: 75vw;
    }
}

@media screen and (max-width: 600px) {
    .padding {
        height: 120vw;
    }
}

/* CONTACT */

#contact {
    opacity: 0;
    z-index: 0;
}

#contact h1 {
    width: 100%;
    text-align: center;
    font-size: calc(20px + 9vw);
    color: #435fff;
    line-height: 1em;
}

#contact ol {
    background-color: rgb(245, 245, 245);
}

#contact li h1 {
    font-size: calc(20px + 5vw);
    color: black;
}

#contact li #book {
    font-style: italic;
    font-size: 7vw;
    padding-top: .5em;
}

#contact li #today {
    font-size: calc(25px + 10vw);
}


.button {
    height: 15vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.button p {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 600;
    width: 100%;
    line-height: 15vw;
    font-size: calc(20px + 4vw);
}

#contact button {
    background-color: #435fff;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 15vw;
    width: calc(75px + 50vw);
    
}

/* TEXT BUBBLES */

:root {
    --send-bg: #435fff;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}

#text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    max-width: 450px;
    margin: 50px auto;
    background-color: var(--page-background);
    overflow-x: hidden;
}

#text li {
    position: relative;
    list-style: none;
}

.liSend {
    left: calc(150px);
}

#text p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;

    &:before, &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 25px;
    }
}

.send {
    color: var(--send-color);
    background-color: var(--send-bg);

    &:before {
        right: -7px;
        width: 20px;
        background-color: var(--send-bg);
        border-bottom-left-radius: 16px 14px;
    }

    &:after {
        right: -26px;
        width: 26px;
        background-color: var(--page-background);
        border-bottom-left-radius: 10px;
    }
}

.receive {
    background-color: var(--receive-bg);
    color: black;

    &:before {
        left: -7px;
        width: 20px;
        background-color: var(--receive-bg);
        border-bottom-right-radius: 16px 14px;
    }

    &:after {
        left: -26px;
        width: 26px;
        background-color: var(--page-background);
        border-bottom-right-radius: 10px;
    }
}

/* PRICE */

#price {
    background-color: rgb(245, 245, 245);
    padding: 1em;
}

#price h1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 6vw;
    line-height: 1em;
}

#price #money {
    color: #435fff;
    font-size: calc(50px + 15vw);
    line-height: 1em;
    font-style: italic;
}

/* LOCATION */

#location {
    margin-top: 5vw;
}

#location h1 {
    width: 100%;
    text-align: center;
    font-weight: 800;
    line-height: 1em;
    font-size: 6vw;
}

#location #wr {
    color: #435fff;
    font-size: 10vw;
    z-index: 0;
    
}

#location .image {
    background-image: url(images/combined.png);
    background-size: cover;
    background-position: 0 -200px;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    #location .image {
        background-position: 0 -100px;
    }
}

@media screen and (min-width: 1400px) {
    #location .image {
        background-position: 0 900px;
    }
}

/* Footer */

footer {
    display: flex;
    margin-top: 5vh;
    padding-top: 2vh;
    z-index: 10;
    background-color: rgb(245, 245, 245);
}

footer .column {
    margin: 1vw;
    max-width: 500px;
}

footer #logo {
    text-decoration: none;
    color: #435fff;
    box-sizing: border-box;
    font-weight: 800;
    text-transform: uppercase;
    font-size: calc(20px + 2vw);
    cursor: pointer;
}

footer li {
    list-style: none;
}

footer li a {
    color: black;
    cursor: pointer;
}

footer li h1 {
    color: #435fff;
    font-size: calc(20px + 2vw);
}